import requests
import geocoder
import openpyxl
import time
import pandas as pd

In [1]:
import requests
import geocoder
import openpyxl
import time
import pandas as pd

In [2]:
searching = "부산광역시  남구황령대로"
url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query={}'.format(searching)
headers = {"Authorization" : "KakaoAK bc1b72d1988ed3c37af4f01b58a6d014"}
places = requests.get(url, headers = headers).json()['documents']
print(places[0]['x'],'',places[0]['y'])

129.088478863823  35.1518738502025

In [3]:
filename = pd.read_excel('부산교통량.xlsx')
locs = pd.DataFrame(filename)

In [4]:
df = pd.DataFrame(
        {"경도" : [0],
         "위도" : [0],
         "주소":[0],
        "차선수":[0],
        "전체1시-24시":[0],
        "전체18시-20시":[0],
         "전체8시":[0],
        "전체9시":[0],
         "전체19시":[0],
         "전체20시":[0],
         "승용차1시-24시":[0],
         "승용차18시-20시":[0],
         "승용차8시":[0],
         "승용차9시":[0],
         "승용차19시":[0],
         "승용차20시":[0]})
df

,경도,위도,주소,차선수,전체1시-24시,전체18시-20시,전체8시,전체9시,전체19시,전체20시,승용차1시-24시,승용차18시-20시,승용차8시,승용차9시,승용차19시,승용차20시
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
locs

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,LINK ID,ITS LINK ID,도로등급,도로명,권역,위치,...,전체9시,전체19시,전체20시,승용차전일,승용차1시-24시,1승용차8시-20시,승용차8시,승용차9시,승용차19시,승용차20시
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057572.0,1340010900,특별광역시도,황령대로,부산광역시 남구,부산광역시 남구황령대로,...,2525.0,2202.0,1848.0,31299.0,31370.0,5658.0,1913.0,2148.0,1907.0,1632.0
2,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057601.0,"1360000501,1360000502,1360001001",도시고속도로,번영로,부산광역시 남구,부산광역시 남구번영로,...,2044.0,2197.0,1688.0,25813.0,26114.0,4862.0,1459.0,1586.0,1670.0,1377.0
3,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057602.0,1360034800,연결로,번영로,부산광역시 남구,부산광역시 남구번영로,...,449.0,460.0,349.0,5216.0,5888.0,1120.0,357.0,381.0,388.0,310.0
4,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057604.0,1340011000,특별광역시도,황령대로,부산광역시 남구,부산광역시 남구황령대로,...,1007.0,965.0,734.0,13481.0,13628.0,2458.0,851.0,906.0,858.0,671.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4770,부산광역시 남구신선대산복로 129.09927765902194 35.11641764...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4771,부산광역시 남구신선대산복로 129.09927765902194 35.11641764...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4772,부산광역시 남구신선대산복로 129.09927765902194 35.11641764...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4773,부산광역시 남구신선대산복로 129.09927765902194 35.11641764...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4774,부산광역시 남구신선대산복로 129.09927765902194 35.11641764...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = pd.DataFrame(
        {"경도" : [0],
         "위도" : [0],
         "주소":[0],
        "차선수":[0],
        "전체1시-24시":[0],
        "전체18시-20시":[0],
         "전체8시":[0],
        "전체9시":[0],
         "전체19시":[0],
         "전체20시":[0],
         "승용차1시-24시":[0],
         "승용차1시-24시":[0],
         "승용차8시-20시":[0],
         "승용차8시":[0],
         "승용차9시":[0],
         "승용차19시":[0],
         "승용차20시":[0]})
df

,경도,위도,주소,차선수,전체1시-24시,전체18시-20시,전체8시,전체9시,전체19시,전체20시,승용차1시-24시,승용차8시-20시,승용차8시,승용차9시,승용차19시,승용차20시
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [7]:
locs[:20]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,LINK ID,ITS LINK ID,도로등급,도로명,권역,위치,...,전체9시,전체19시,전체20시,승용차전일,승용차1시-24시,1승용차8시-20시,승용차8시,승용차9시,승용차19시,승용차20시
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057572.0,1340010900,특별광역시도,황령대로,부산광역시 남구,부산광역시 남구황령대로,...,2525.0,2202.0,1848.0,31299.0,31370.0,5658.0,1913.0,2148.0,1907.0,1632.0
2,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057601.0,"1360000501,1360000502,1360001001",도시고속도로,번영로,부산광역시 남구,부산광역시 남구번영로,...,2044.0,2197.0,1688.0,25813.0,26114.0,4862.0,1459.0,1586.0,1670.0,1377.0
3,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057602.0,1360034800,연결로,번영로,부산광역시 남구,부산광역시 남구번영로,...,449.0,460.0,349.0,5216.0,5888.0,1120.0,357.0,381.0,388.0,310.0
4,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057604.0,1340011000,특별광역시도,황령대로,부산광역시 남구,부산광역시 남구황령대로,...,1007.0,965.0,734.0,13481.0,13628.0,2458.0,851.0,906.0,858.0,671.0
5,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057606.0,1360034200,특별광역시도,전포대로,부산광역시 남구,부산광역시 남구전포대로,...,1948.0,1783.0,1406.0,24734.0,24923.0,4535.0,1464.0,1695.0,1563.0,1254.0
6,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057607.0,1360034100,특별광역시도,전포대로,부산광역시 남구,부산광역시 남구전포대로,...,1208.0,981.0,791.0,14888.0,15000.0,2538.0,914.0,1048.0,861.0,702.0
7,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057610.0,"1360021300,1360021600,1360021700,1360022100,13...",특별광역시도,수영로,부산광역시 남구,부산광역시 남구수영로,...,2018.0,1642.0,1347.0,24469.0,24503.0,4252.0,1488.0,1763.0,1453.0,1205.0
8,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057611.0,1360028200,특별광역시도,수영로,부산광역시 남구,부산광역시 남구수영로,...,1537.0,1633.0,1366.0,24030.0,24066.0,4086.0,1218.0,1333.0,1407.0,1196.0
9,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057612.0,1360026100,특별광역시도,수영로,부산광역시 남구,부산광역시 남구수영로,...,1251.0,1280.0,975.0,17229.0,18765.0,3309.0,1027.0,1132.0,1156.0,894.0
10,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057613.0,1360026200,특별광역시도,수영로,부산광역시 남구,부산광역시 남구수영로,...,2675.0,2180.0,1770.0,32598.0,32260.0,5561.0,1981.0,2304.0,1905.0,1568.0
11,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057614.0,1360027100,연결로,번영로,부산광역시 남구,부산광역시 남구번영로,...,439.0,467.0,365.0,6160.0,6690.0,1157.0,359.0,378.0,400.0,322.0
12,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057615.0,1320016100,도시고속도로,번영로,부산광역시 남구,부산광역시 남구번영로,...,1438.0,1366.0,1425.0,22149.0,22185.0,3976.0,1198.0,1215.0,1153.0,1204.0
13,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057616.0,1360027200,연결로,번영로,부산광역시 남구,부산광역시 남구번영로,...,721.0,623.0,477.0,8972.0,9046.0,1592.0,561.0,634.0,554.0,431.0
14,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057617.0,1360026900,특별광역시도,수영로,부산광역시 남구,부산광역시 남구수영로,...,1244.0,1279.0,968.0,17229.0,18634.0,3281.0,1018.0,1118.0,1148.0,882.0
15,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057618.0,1360027000,특별광역시도,수영로,부산광역시 남구,부산광역시 남구수영로,...,2862.0,2384.0,1938.0,35018.0,34695.0,5977.0,2087.0,2421.0,2048.0,1692.0
16,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057619.0,1360027000,특별광역시도,수영로,부산광역시 남구,부산광역시 남구수영로,...,1959.0,1595.0,1295.0,23459.0,23758.0,4097.0,1464.0,1702.0,1404.0,1154.0
17,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057620.0,1360026900,특별광역시도,수영로,부산광역시 남구,부산광역시 남구수영로,...,1250.0,1280.0,976.0,17229.0,18752.0,3308.0,1026.0,1130.0,1156.0,895.0
18,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057621.0,1360026900,특별광역시도,수영로,부산광역시 남구,부산광역시 남구수영로,...,931.0,1453.0,1356.0,26532.0,25683.0,3656.0,845.0,790.0,1198.0,1123.0
19,nan 127.02876401832988 37.590448495174364,NaN,NaN,NaN,1057622.0,1360027000,특별광역시도,수영로,부산광역시 남구,부산광역시 남구수영로,...,2861.0,2383.0,1937.0,35018.0,34692.0,5974.0,2086.0,2420.0,2047.0,1691.0

In [8]:
lc=locs.columns.tolist()
print(lc)

['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'LINK ID', 'ITS LINK ID', '도로등급', '도로명', '권역', '위치', '연장(km)', '차선수', '전체전일', '전체1시-24시', '전체18시-20시', '전체8시', '전체9시', '전체19시', '전체20시', '승용차전일', '승용차1시-24시', '1승용차8시-20시', '승용차8시', '승용차9시', '승용차19시', '승용차20시']

In [9]:
for 컬럼명 in lc:
    print(locs[컬럼명][1])

nan 127.02876401832988 37.590448495174364
nan
nan
nan
1057572.0
1340010900
특별광역시도
황령대로
부산광역시  남구
부산광역시  남구황령대로
0.213
4.0
35774.0
35786.0
6536.0
2212.0
2525.0
2202.0
1848.0
31299.0
31370.0
5658.0
1913.0
2148.0
1907.0
1632.0

In [ ]:
headers = {"Authorization" : "KakaoAK bc1b72d1988ed3c37af4f01b58a6d014"}
for i in range(len(locs['위치'])):
    for 컬럼명 in lc:
        try:
            lon=places[0]['x']
            lat=places[0]['y']
            df.loc[i] = [lon, lat,a,b,c,d,e,f,g,h,j,k,l,m,n,o]
            print(searching,  lon,  a,b,c,d,e,f,g,h,j,k,l,m,n,o)
    searching = locs['위치'][i]
    a=locs['차선수'][i]
    b=locs['전체1시-24시'][i]
    c=locs['전체18시-20시']:[i]
    d=locs["전체8시"]:[i]
    e=locs["전체9시"]:[i]
    f=locs["전체19시"]:[i]
    g=locs["전체20시"]:[i]
    h=locs["승용차1시-24시"]:[i]
    k=locs["승용차18시-20시"]:[i]
    l=locs["승용차8시"]:[i]
    m=locs["승용차9시"]:[i]
    n=locs["승용차19시"]:[i]
    o=locs["승용차20시"]:[i]
    url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query={}'.format(searching)
    places = requests.get(url, headers = headers).json()['documents']
    try:
        lon=places[0]['x']
        lat=places[0]['y']
        df.loc[i] = [lon, lat,]
        print(searching,  lon, at)
    except:
        pass

In [ ]:
headers = {"Authorization" : "KakaoAK bc1b72d1988ed3c37af4f01b58a6d014"}
for i in range(len(locs['위치'])):
    searching = locs['위치'][i]
    for 컬럼명 in lc:
        url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query={}'.format(searching)
        places = requests.get(url, headers = headers).json()['documents']
        try:
            lon=places[0]['x']
            lat=places[0]['y']
            df.loc[i] = locs[컬럼명][i]
            print(searching,  lon,lat)
        except:
            pass

In [37]:
df

,경도,위도,주소,차선수,전체1시-24시,전체18시-20시,전체8시,전체9시,전체19시,전체20시,승용차1시-24시,승용차18시-20시,승용차8시,승용차9시,승용차19시,승용차20시
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1632.0,1632.0,1632.0,1632.0,1632.0,1632.0,1632.0,1632.0,1632.0,1632.0,1632.0,1632.0,1632.0,1632.0,1632.0,1632.0
2,1377.0,1377.0,1377.0,1377.0,1377.0,1377.0,1377.0,1377.0,1377.0,1377.0,1377.0,1377.0,1377.0,1377.0,1377.0,1377.0
3,310.0,310.0,310.0,310.0,310.0,310.0,310.0,310.0,310.0,310.0,310.0,310.0,310.0,310.0,310.0,310.0
4,671.0,671.0,671.0,671.0,671.0,671.0,671.0,671.0,671.0,671.0,671.0,671.0,671.0,671.0,671.0,671.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0
219,519.0,519.0,519.0,519.0,519.0,519.0,519.0,519.0,519.0,519.0,519.0,519.0,519.0,519.0,519.0,519.0
220,498.0,498.0,498.0,498.0,498.0,498.0,498.0,498.0,498.0,498.0,498.0,498.0,498.0,498.0,498.0,498.0
221,535.0,535.0,535.0,535.0,535.0,535.0,535.0,535.0,535.0,535.0,535.0,535.0,535.0,535.0,535.0,535.0
222,526.0,526.0,526.0,526.0,526.0,526.0,526.0,526.0,526.0,526.0,526.0,526.0,526.0,526.0,526.0,526.0

In [38]:
df.to_excel('교통량위경도.xlsx')